body {
    box-sizing: border-box;
    min-height: 100vh;
}

.App {
    position: relative;
}

.Dragover {
    /* background-color: #111777; */
    position: absolute;
    height: 100%;
    width: 100%;
}

.Day {
    border: 1px solid #000000;
    height: 3rem;
}