body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
}

.App {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.TimeDecks {
  display: flex;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}
.Panel {
  border-right: 0.15rem solid #777;
  width: 35%;
  padding: 0 1.5rem 2.5rem 1.5rem;
}
.PanelTitle {
  margin-bottom: 0.5rem;
}
.PanelItem {
  margin: 1rem 0 2.5rem 0;
}
.PanelDeck {
  height: 2.25rem;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PanelBtns {
  display: flex;
  justify-content: space-between;
  height: 1rem;
}
.TimeDecksItems {
  width: 60%;
}
.TimeDeck {
  border: 1px solid #fff;
  height: 3rem;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.TimeCard {
  border: 1px solid #777;
  border-radius: 2.5px;
  cursor: pointer;
  height: 100%;
  width: 2.5rem;
}

.Btn.add {
  font-size: 1.15rem;
  height: 2rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.Btn.add label {
  margin-left: 0.5rem;
}
.Btn.del {
  font-size: 1.15rem;
  height: 2rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.Btn.del label {
  margin-left: 0.5rem;
}
.Btn.edit {
  font-size: 1.15rem;
  height: 2rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
.Btn.edit label {
  margin-left: 0.5rem;
}
.Btn.scrollUp img {
}
.BtnImg {
  background-color: #fff;
  border-radius: 50%;
  width: 2rem;
  padding: 0.15rem;
}

.Schedule {
  display: flex;
  flex-wrap: wrap;
}
.TitleStripDays {
  color: #fff;
  border-bottom: 1px solid #777;
  height: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TitleStripDaysSquare {
  height: 100%;
  width: 1.5rem;
  min-width: 1.5rem;
  background-color: #777;
  border: 3px solid #000;
  border-radius: 5px;
}
.TitleStripDaysTitle {
  border-left: 180px solid #777;
  opacity: 0.15;
  border-radius: 45%;
  width: calc(100% - 1.5rem);
}

.Month {
  display: flex;
}
.TitleStripHours {
  color: #fff;
  font-size: xx-small;
  letter-spacing: 3px;
  border-top: 180px solid #777;
  opacity: 0.15;
  border-radius: 45%;
  border-right: 1px solid #777;
  height: 100%;
  width: 1.5rem;
  min-width: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TitleStripHoursTitle {
  color: #fff;
  display: block;
  width: 1rem;
  transform: rotate(-90deg);
}

.Weeks {
  display: flex;
  flex-wrap: wrap;
}
.Week {
  display: flex;
  flex-wrap: wrap;
}

.Day {
  background-color: #fff;
  color: #000;
  height: 10rem;
  width: 4.5rem;
  margin: 0;
  padding: 0;
  outline: none;
  display: flex;
  flex-wrap: wrap;
}

.DayTitle {
  color: #fff;
  background-color: #000;
  height: 15%;
  width: 100%;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
.DayHours {
  height: 85%;
  width: 100%;
  display: flex;
}

.HourRows {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
}
.HourRow {
  font-size: 5px;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  width: 100%;
  flex: 1;
  display: flex;
}
.HourRowNum {
  color: #fff;
  background-color: #000;
  font-size: 0.25rem;
  height: 100%;
  width: 15%;
}
.HourRowShelf {
  width: 85%;
}
.HourMarks {
  background-color: #000;
  color: #fff;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HourMark {
  font-size: 0.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #777;
}

.Dragover {
  /* background-color: #111777; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Footer {
  font-size: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}
