body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}

.App {
    position: relative;
    margin: 0;  
}

.Dragover {
    /* background-color: #111777; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Day {
    border: 1px solid #000000;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1rem;
}

.HourMarks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.HourMark {
    font-size: 0.5rem;
}

.Month {
    display: flex;
    height: 100%;
}