body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}

.App {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;  
}




.TimeDecks {
    height: 30vh;
    display: flex;
    width: 100%;
}

.TimeDecksPanel {
    padding: 0.5rem;
    border-right: 0.15rem solid #777;
}

.TimeDecksPanelItem {
    border: 1px solid #777;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.15rem;
}

.TimeDecksItems {
    width: 100%;
    padding: 0.5rem;
    padding-right: 1.5rem;
}
.TimeDeck {
    border: 1px solid #fff;
    height: 3rem;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
}



.Schedule {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
}

.Week {
    display: flex;
    flex-wrap: wrap;
}
.Day {
    background-color: #fff;
    color: #000;
    border: 1px solid #000000;
    height: 6rem;
    width: 6rem;
    display: flex;
    flex-wrap: wrap;
}

.DayTitle {
    color: #fff;
    background-color: #000;
    height: 15%;
    width: 100%;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.HourColumns {
    height: 70%;
    display: flex;
    flex: 1;
}
.HourColumn {
    height: 100%;
    border-right: 1px solid #777;
    height: 100%;
    width: 0.25rem;
}
.HourMarks {
    background-color: #000;
    color: #fff;
    height: 15%;
    width: 100%;
    align-self: flex-end;
    display: flex;
}   

.HourMark {
    font-size: 0.5rem;
    flex: 1;
}











.Dragover {
    /* background-color: #111777; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
