body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}

.App {
    background-color: #000;
    color: #fff;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: 0;  
}




.TimeDecks {
    height: 30vh;
    display: flex;
    width: 100%;
}

.TimeDecksPanel {
    padding: 0.5rem;
    border-right: 0.15rem solid #777;
}

.TimeDecksPanelItem {
    border: 1px solid #777;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.15rem;
}

.TimeDecksItems {
    width: 100%;
    padding: 0.5rem;
    padding-right: 1.5rem;
}
.TimeDeck {
    border: 1px solid #fff;
    height: 3rem;
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
}



.Schedule {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
}

.Week {
    display: flex;
    flex-wrap: wrap;
}
.Day {
    background-color: #fff;
    color: #000;
    height: 10rem;
    width: 4.5rem;
    margin: 0;
    padding: 0;
    outline: none;
    display: flex;
    flex-wrap: wrap;
}

.DayTitle {
    color: #fff;
    background-color: #000;
    height: 15%;
    width: 100%;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}
.DayHours {
    height: 85%;
    width: 100%;
    display: flex;
}
.HourRows {
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
}
.HourRow {
    font-size: 5px;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    width: 100%;
    flex: 1;
    display: flex;
}
.HourRowNum {
    color: #fff;
    background-color: #000;
    font-size: 0.25rem;
    height: 100%;
    width: 15%;
}
.HourRowShelf {
    width: 85%;
}




.HourMarks {
    background-color: #000;
    color: #fff;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}   

.HourMark {
    font-size: .5rem;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #777;
}











.Dragover {
    /* background-color: #111777; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
