body {
  box-sizing: border-box;
  margin: 0;
}

.App {
  background-color: #000;
  color: #fff;
  min-height: 150vh;
  width: 100vw;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.TimeDecks {
  display: flex;
  width: 100%;
  max-height: 40vh;
}
.TimeDecksItems {
  width: 60%;
}
.TimeDeck {
  border: 1px solid #fff;
  height: 3rem;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.TimeCard {
  border: 1px solid #777;
  border-radius: 2.5px;
  cursor: pointer;
  height: 100%;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TimeCardDurationMark {
}
/***/
.Panel {
  border-right: 0.15rem solid #777;
  font-size: 0.5rem;
  width: 9rem;
  padding: 0 1.5rem 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.PanelTitle {
  margin-bottom: 0.5rem;
}
.PanelTopBtns {
  display: flex;
  align-items: center;
}

.Panel .ScrollBtns {
  display: flex;
  align-items: center;
}
.Panel .ScrollBtns button {
  margin: 0 0 0 0.25rem;
  border: 1px solid #777;
}

.PanelItem {
  width: 9rem;
}
.PanelDeck {
  font-size: 0.6rem;
  border-radius: 2.5px;
  width: 7.5rem;
  padding: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.PanelBtns {
  display: flex;
}
/***/
.TimeCardsMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MarkerNote {
  display: flex;
  flex-direction: column;
  width: 3rem;
}
.MarkerNoteSymbol {
  color: rgb(6, 8, 6);
  background-color: green;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  margin-top: 0.25rem;
}
.MarkerNote .Note {
  color: green;
  font-size: 0.5rem;
  margin-top: -0.5rem;
}
.EditTimeCardsMenu {
  backgroundcolor: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.EditTimeCardsMenu .Btn.exit {
  height: 2.5rem;
  margin: 1.5rem 0 0 0.5rem;
}
.NumBtnsHelperNote {
  color: green;
  font-size: 0.5rem;
  padding-bottom: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.NumBtnsHelperNoteText {
  margin-top: 0.05rem;
  margin-left: 0.25rem;
}
.NumBtnsRow {
  display: flex;
}
.NumBtn {
  color: #fff;
  border: 1px solid #777;
  font-size: 1rem;
  width: 1rem;
  padding: 0 0.15rem 0 0.15rem;
  margin: 0.15rem;
}
.Btn {
  background-color: transparent;
  border: 1px solid #777;
  cursor: pointer;
  font-size: 0.5rem;
  height: 1.25rem;
  margin: 0.5rem 0.25rem 0.5rem 0;
  display: flex;
  align-items: center;
}
.Btn label {
  cursor: pointer;
  margin-left: 0.5rem;
}
.BtnImg {
  background-color: #fff;
  border-radius: 50%;
  padding: 1px;
  width: 0.75rem;
}
.Btn.add {
  color: goldenrod;
}
.Btn.addSquare {
  color: goldenrod;
  border-color: goldenrod;
  height: 3rem;
  width: 4rem;
}
.Btn.delSquare {
  color: crimson;
  border-color: crimson;
  height: 3rem;
  width: 4rem;
}
.Btn.editSquare {
  color: teal;
  border-color: teal;
  height: 3rem;
  width: 4rem;
}
.Btn.scrollLeft {
  height: 2.5rem;
  margin: 1.5rem 0 0 0;
}
.Btn.scrollRight {
  height: 2.5rem;
  margin: 1.5rem 0 0 0;
}
.Btn.exit {
  color: darkred;
  border: 1px solid darkred;
}
.Btn.del {
  color: crimson;
}
.Btn.edit {
  color: teal;
}
.Btn.num {
  color: #fff;
  font-size: 0.75rem;
  border: 3px solid #fff;
  width: 1.5rem;
  height: 2.5rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Btn.num label {
  margin: 0;
  padding: 0 0.5rem 0 0.5rem;
  text-align: center;
}
.Column {
}
.Column.flexEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.SpanItalicize {
  font-style: italic;
}

.Schedule {
  display: flex;
  flex-wrap: wrap;
}
.TitleStripDays {
  color: #fff;
  border-bottom: 1px solid #777;
  height: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TitleStripDaysSquare {
  height: 100%;
  width: 1.5rem;
  min-width: 1.5rem;
  background-color: #777;
  border: 3px solid #000;
  border-radius: 5px;
}
.TitleStripDaysTitle {
  border-left: 180px solid #777;
  opacity: 0.15;
  border-radius: 45%;
  width: calc(100% - 1.5rem);
}

.Month {
  display: flex;
}
.TitleStripHours {
  color: #fff;
  font-size: xx-small;
  letter-spacing: 3px;
  border-top: 180px solid #777;
  opacity: 0.15;
  border-radius: 45%;
  border-right: 1px solid #777;
  height: 100%;
  width: 1.5rem;
  min-width: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.TitleStripHoursTitle {
  color: #fff;
  display: block;
  width: 1rem;
  transform: rotate(-90deg);
}

.Weeks {
  display: flex;
  flex-wrap: wrap;
}
.Week {
  display: flex;
  flex-wrap: wrap;
}

.Day {
  background-color: #fff;
  color: #000;
  height: 13.5rem;
  width: 4.5rem;
  margin: 0;
  padding: 0;
  outline: none;
  display: flex;
  flex-wrap: wrap;
}

.DayTitle {
  color: #fff;
  background-color: #000;
  height: 1.5rem;
  width: 100%;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
.DayHours {
  height: 12rem;
  width: 100%;
  display: flex;
}
.DayTimeCard {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
}
.DayTimeCardDurationMark {
}
.HourRows {
  height: 12rem;
  width: 85%;
  /* display: flex; */
  flex-direction: column;
  position: relative;
}
.HourRow {
  font-size: 5px;
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  height: calc(0.5rem - 1px);
  width: 100%;
  display: flex;
}
.HourRowNum {
  color: #fff;
  background-color: #000;
  font-size: 0.25rem;
  height: 100%;
  width: 15%;
}
.HourRowShelf {
  width: 85%;
}
.HourMarks {
  background-color: #000;
  color: #fff;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HourMark {
  font-size: 0.6rem;
  height: calc(2rem + 4px);
  width: 100%;
  display: flex;
  margin-top: 0;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid #777;
}

.Dragover {
  /* background-color: #111777; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Footer {
  font-size: 0.5rem;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}
